<div class="fancy-form" *ngIf="!wasSubmitted">
  <form (ngSubmit)="onSubmit()" #createForm="ngForm" ngNativeValidate>
    <div class="form-group">
      <label for="artist">Artist</label>
      <input
        id="artist"
        type="text"
        class="form-control fancy-input"
        placeholder="Enter the name of the Artist"
        required
        [(ngModel)]="album.Artist"
        name="artist"
      />
    </div>
    <div class="form-group">
      <label for="album">Album</label>
      <input
        id="album"
        type="text"
        class="form-control fancy-input"
        placeholder="Enter the name of the Album"
        required
        [(ngModel)]="album.Title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        rows="3"
        class="form-control fancy-input"
        placeholder="Enter the description of the Album"
        required
        [(ngModel)]="album.Description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input
        id="year"
        type="number"
        class="form-control fancy-input"
        placeholder="Enter the year of the Album"
        required
        [(ngModel)]="album.Year"
        name="year"
        min="1900"
        max="2030"
        [ngModelOptions]="{ standalone: true }"
        (input)="clearYearInput()"
      />
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        id="image"
        type="text"
        class="form-control fancy-input"
        placeholder="Enter the image URL for the Album Cover Artwork"
        required
        [(ngModel)]="album.Image"
        name="image"
      />
    </div>
    <div class="form-group">
      <label for="tracks">Tracks</label>
      <textarea
        id="tracks"
        rows="3"
        class="form-control fancy-input"
        placeholder="Enter each track followed by a return key"
        required
        [(ngModel)]="tracksRaw"
        name="tracks"
      ></textarea>
    </div>

    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>

<div *ngIf="wasSubmitted" class="fancy-message">
  Album was added successfully.
</div>
