.card-hover {
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card-hover:hover {
    transform: translateY(-10px);
  }
  
  .smaller-input {
    width: 50%;
    margin: auto;
  }
  