<div class="container">
  <div class="header">
    <h1>Welcome to {{ title }}</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-center" id="navbarNav">
      <div style="margin: 0 auto">
        <div class="navbar-nav">
          <a class="submit-button text-center" routerLink="/">My Music</a>
          <a
            class="submit-button text-center"
            href="https://www.gcu.edu"
            target="_blank"
            >GCU Home Page</a
          >
          <a class="submit-button text-center" routerLink="/create"
            >Create Album</a
          >
          <a class="submit-button text-center" routerLink="/list-artists"
            >Artist List</a
          >
          <button class="submit-button text-center" (click)="displayVersion()">
            About
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
