<h2></h2>

<div *ngIf="movie" class="movie-details-container">
  <div class="movie-box">
    <div class="movie-image">
      <img *ngIf="movie.posterUrl" [src]="movie.posterUrl" alt="Movie Poster" />
    </div>
    <div class="movie-details">
      <h3 class="movie-title" *ngIf="movie.title">{{ movie.title }}</h3>
      <p *ngIf="movie.director">
        <strong>Director:</strong> {{ movie.director }}
      </p>
      <p *ngIf="movie.releaseYear">
        <strong>Year:</strong> {{ movie.releaseYear }}
      </p>
      <p *ngIf="movie.description">
        <strong>Description:</strong> {{ movie.description }}
      </p>
    </div>
    <div class="movie-actions">
      <button class="btn" (click)="addMovie()">Add Movie</button>
      <button class="btn" (click)="deleteMovie()">Delete Movie</button>
    </div>
  </div>
</div>
