<div class="album-details" *ngIf="album">
  <h2 class="album-title">{{ album.Title }}</h2>
  <h4 class="album-artist">by {{ album.Artist }}</h4>
  <div class="album-container">
    <div class="album-image">
      <img src="{{ album.Image }}" alt="{{ album.Title }}" />
    </div>
    <div class="album-info">
      <p class="album-year">Released: {{ album.Year }}</p>
      <div class="track-list">
        <h5 class="track-title">Track List:</h5>
        <ol class="track-items">
          <li
            class="track-item"
            *ngFor="let track of album.Tracks; let i = index"
          >
            <div class="track-number">{{ i + 1 }}</div>
            <div class="track-details">
              <span class="track-title">{{ track.Title }}</span>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px">
      <button class="submit-button" (click)="goToEdit()">Edit</button>
    </div>
  </div>
</div>
