<div class="list-group" *ngIf="selectedAlbum == null">
  <h2 class="page-title">{{ Albums }}</h2>
  <div class="album-row">
    <div class="list-group-item" *ngFor="let album of albums" (click)="onSelectAlbum(album)">
      <div class="album-container">
        <div class="album-image">
          <img src="{{ album.Image }}" alt="{{ album.Title }}" />
        </div>
        <div class="album-details">
          <h4 class="album-title">{{ album.Title }}</h4>
          <p class="album-band">{{ album.Artist }}</p>
          <p class="album-year">{{ album.Year }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-display-album *ngIf="selectedAlbum" [album]="selectedAlbum"></app-display-album>
